<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <!-- Formularz logowania -->
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required><br>
        <label for="two_factor_secret">Code from Google Authenticator: </label>
        <input type="text" id="two_factor_secret" name="two_factor_secret" required><br>
        <input type="submit" value="Submit">
    </form>

    <!-- Link do strony rejestracji -->
    <p>Nie masz konta? <a href="{{ url_for('register') }}">Zarejestruj się tutaj</a></p>

    <!-- Wyświetlanie komunikatów flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
