<html>
<body>
<h1>Hello {{ username }}!</h1>

<form action={{ url_for('render') }} method="post">
    {{ csrf_token() }}
  <label for="markdown">Input some markdown:</label><br>
  <textarea id="markdown" name="markdown" rows="20" cols="100"></textarea>
  <br>
  <label for="password_enc">Password: </label>
  <input type="text" id="password_enc" name="password_enc"><br>
  <label for="is_public">Make this note public:</label>
  <input type="checkbox" id="is_public" name="is_public" value="1"><br>
  <input type="submit" value="Submit">
</form>

{% if notes|length > 0 %}
<h1>Your Notes:</h1>
<ul>
    {% for note in notes %}
    <li>
        <form action="{{ url_for('render_old', rendered_id=note.0) }}" method="POST" style="display: inline;">
            {{ csrf_token() }}
            <label for="password_{{ loop.index }}">Note {{ loop.index }}:</label>
            <input type="password" id="password_{{ loop.index }}" name="password" placeholder="Enter password if required">
            <button type="submit">View</button>
        </form>

        <!-- Dodanie informacji o publiczności notatki -->
        {% if note.2 %}
            <span>(Public)</span>
        {% else %}
            <span>(Private)</span>
        {% endif %}

        <!-- Dodanie informacji o udostępnieniu notatki -->
        {% if note.3 %}
            <span>(Shared)</span>
        {% else %}
            <span>(Not Shared)</span>
        {% endif %}

        <!-- Dodanie informacji o zabezpieczeniu hasłem -->
        {% if note.4 %}
            <span>(Password Protected)</span>
        {% else %}
            <span>(No Password)</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No notes found.</p>
{% endif %}

<form action={{ url_for('logout') }}>
  <input type="submit" value="Log out" />
</form>
<h1>Adresy IP które logowały się na konto:</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Adres IP</th>
                <th>Czas logowania</th>
            </tr>
        </thead>
        <tbody>
            {% for ip, time in ip_list %}
            <tr>
                <td>{{ ip }}</td>
                <td>{{ time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>