<html>
<body>
<h1> Your rendered Markdown: </h1>
{{ rendered | safe }}
<p><strong>Fingerprint:</strong> {{ fingerprint }}</p>
<p><strong>Author:</strong> {{ author }}</p>

<!-- Formularz do udostępniania notatki -->
<h2>Share this note</h2>
<form action="{{ url_for('share_note', note_id=note_id) }}" method="POST">
    {{ csrf_token() }}
    <label for="shared_with_user">Share with user:</label>
    <input type="text" id="shared_with_user" name="shared_with_user" placeholder="Enter username">
    <button type="submit">Share</button>
</form>

<br>
<form action="{{ url_for('hello') }}">
  <input type="submit" value="Go back" />
</form>

</body>
</html>
